<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andersmurphy.demoapp">

    <application
        android:name="com.andersmurphy.demoapp.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.andersmurphy.demoapp.NewMainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.andersmurphy.demoapp.SplashActivity"
            android:theme="@style/SplashTheme" />

        <activity-alias
            android:name="com.andersmurphy.demoapp.MainActivity"
            android:label="@string/app_name"
            android:targetActivity="com.andersmurphy.demoapp.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>